<script>
$(document).ready(function(){
  $(".cash").hide()
  $(".online").hide()
  $(".enablecash").click(function(){
    $(".cash").show()
    $(".online").hide()
  })
  $(".enableonline").click(function(){
    $(".cash").hide()
    $(".online").show()
  })
}
)
</script>

<div class="container">
<% @cost = 0 %>
<% @count = 0 %>
<% if @cartitem.size<1 %>
<div class="back mt-5">
<div class="cartempty">
<p class="font-weight-bold text-secondary text-center font-italic" style="font-size:20px;">Your cart is empty</p>
<p class="text-center text-muted font-italic">You can go to home page to view more restaurants</p>
    <%= link_to "Add items",landingpage_index_path,class: "d-flex justify-content-center font-weight-bold btn px-4 text-white sa" %>
   </div>
    </div>
<% else %>
<p class="text-left my-5 pb-4 font-italic" style="font-size:22px;font-weight:600;border-bottom:2px solid gray;">YOUR CART</p>
<div class="row">
<div class="col-lg-12">
<% @cartitem.each do|f| %>
    <div class="row cart py-3 pr-3 mx-2 mb-4" style="background:alicewhite;">
    <div class="col-4">
    <% @price=1 %>
    <%= image_tag f["img"],class: "card-img" %>
    </div>
    <div class="col-8">
    <p class="text-muted text-left m-0 p-0 font-weight-bold"><%= f.hotel.upcase %></p>
    <div class="d-flex justify-content-between mt-3">  
       <div class="d-flex">
       <% if f["foodtype"]==="veg" %>
       <img style="margin-top:3px;" src="https://oslocks.files.wordpress.com/2014/11/vegetarian-symbol.png" width="20"  height="20"/>
       <% else %>
       <img style="margin-top:5px;" src="https://infoseekershub.com/wp-content/uploads/2019/08/non-veg.jpg" width="15"  height="15"/>
       <% end %>
        <h5 class="ml-2"><%= f["name"].capitalize %></h5>
        </div>
        <div class="d-flex">
        <i class="fa fa-plus p-2 plus" aria-hidden="true"></i>
        <p class="font-weight-bold price p-2 mb-0" style="margin-top:-5px;"><%= @price %></p>
        <i class="fa fa-minus p-2 minus" aria-hidden="true"></i>
        </div>
        </div>
        <% @cost += f["price"].to_f %>
        <% @count+=1 %>
        <p class="font-weight-normal text-muted total" id="total" style="font-size:18px;font-weight:600;">Rs.<%= f.price %></p>
        <%= link_to "Delete",cart_path(f),method: :delete,class: "btn btn-sm btn-danger px-4 font-weight-bold text-white",style: "position:absolute;right:0;bottom:0;font-size:14px;border-radius:0;" %>

<button type="button" style = "position:absolute;left:0;bottom:0;font-size:14px;border-radius:0;" class="btn btn-sm btn-success px-4 font-weight-bold" data-toggle="modal" data-target="#exampleModal">
  Order
</button>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background:#ff5d0b;">
        <h5 class="modal-title text-white text-center  font-weight-bold" id="exampleModalLabel" style="margin-left: 145px;">Mode of Payment</h5>
        <button type="button" class="close font-weight-bold text-dark" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <div class="d-flex justify-content-between mt-3 mb-2">
      <button class= "enablecash  btn btn-sm btn-dark text-white py-2 px-3" style="border-radius:0;">Cash On Delivery</button>
      <button class= "enableonline btn btn-sm btn-dark text-white py-2 px-3", style= "border-radius:0;">Online Payment</button>
      </div>
      <div class="cash">
      <%=form_for :order, :url => {:controller => 'orders',:action => "create"}, :method => "post" do |order| %>
        <div class="field d-flex justify-content-center">
        <%= order.text_area :address,placeholder: "Address",class: "form-control loginbox",:required => true %>
        <%= order.hidden_field :f, :value => f["id"] %>
        </div>
      <div class="d-flex justify-content-center my-3">
      <%= order.submit "Order" ,class: "font-weight-bold btn btn-dark btn-sm px-3  py-2",style: "border-radius:0;" %>
        </div>
    <% end %>
    </div>
<div class="online">
    <%=form_for :order, :url => {:controller => 'paytm',:action => "start_payment"}, :method => "post" do |order| %>
      <div class="field d-flex justify-content-center">
      <%= order.text_area :address,placeholder: "Address",class: "form-control loginbox",:required => true %>
      <%= order.hidden_field :f, :value => f["id"] %>
      </div>
      <div class="d-flex justify-content-center my-3">
      <%= order.submit "Order" ,class: "font-weight-bold btn btn-dark btn-sm px-3  py-2",style: "border-radius:0;" %>
        </div>
  <% end %>
      </div>
      </div>
    </div>
  </div>
</div>
        </div>

 </div>
<% end %>
</div>
<% end %>
</div>