<div class="container">
<% if @order_item.size<1 %>
<div class="back mt-5">
<div class="cartempty">
<p class="font-weight-bold text-secondary text-center font-italic" style="font-size:20px;">Your Orders list is empty</p>
<p class="text-center text-muted font-italic">You can go to home page to view more restaurants</p>
    <%= link_to "Add items",landingpage_index_path,class: "d-flex justify-content-center font-weight-bold btn px-4 text-white sa" %>
   </div>
    </div>
<% else %>
<p class="text-left my-5 pb-4 font-italic" style="font-size:22px;font-weight:600;border-bottom:2px solid gray;">YOUR ORDERS</p>
<div class="row">
<div class="col-lg-12">
<% @order_item.each do|f| %>
    <div class="row cart py-3 pr-3 mx-2 mb-4" style="background:alicewhite;">
    <div class="col-4">
    <%= image_tag f["img"],class: "card-img" %>
    </div>
    <div class="col-8">
    <p class="text-muted text-left m-0 p-0 font-weight-bold"><%= f.hotel.upcase %></p>
    <div class="d-flex justify-content-between mt-3">  
       <div class="d-flex">
       <% if f["foodtype"]==="veg" %>
       <img style="margin-top:3px;" src="https://oslocks.files.wordpress.com/2014/11/vegetarian-symbol.png" width="20"  height="20"/>
       <% else %>
       <img style="margin-top:5px;" src="https://infoseekershub.com/wp-content/uploads/2019/08/non-veg.jpg" width="15"  height="15"/>
       <% end %>
        <h5 class="ml-2"><%= f["name"].capitalize %></h5>
        </div>
        </div>
        <p class="font-weight-normal text-muted total" id="total" style="font-size:18px;font-weight:600;">Rs.<%= f.price %></p>
        <%= link_to "Delete",order_path(f),method: :delete,class: "btn btn-sm btn-danger px-4 font-weight-bold text-white",style: "position:absolute;right:0;bottom:0;font-size:14px;border-radius:0;" %>
        <%= link_to "View",order_path(f),class: "btn btn-sm btn-success px-4 font-weight-bold",style: "position:absolute;left:0;bottom:0;font-size:14px;border-radius:0;" %>
    </div>
    </div>
        <% end %>
    
    </div>
  </div>
<% end %>

</div>